.container {
    display: inline;
    width: 300px;
}

.container input {
    appearance: none;
    margin-top: 10px;
    background-color: none;
    border: 0px;
    line-height: 0;
    font-size: 12px;
    width: 100%;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    color: #555;
}

.container input:focus {
    outline: none;
}