.container{

}

.channelInfo{
    display: flex;
    margin-left: 10px;
}

.image{
    composes: globalText from global;
    flex: 30%;
}

.infoContainer{
    composes: globalText from global;
    composes: twoThirdsText from global;
}

.videoListHeader {
    composes: globalText from global;
}