.container {
    display: flex;
    flex-direction: row-reverse;
    flex-flow: wrap;
    justify-content: space-between;
}
.leftColumn{
    padding-top: 20px;
    flex: 70%;
    overflow: auto;
}

.rightColumn{
    flex: 30%;
}

@media (max-width:768px) {
    .container {
        display: block;
    }
    .rightColumn{
        display: block;
    }
    .leftColumn{
        display: block;
    }
}