.container{
    display: flex;
}

.imageContainer{
    flex: 30%;
}

.infoContainer{
    composes: globalText from global;
    composes: twoThirdsText from global;
}

.name {
    composes: heading from global;
}

.controls{
    display: flex;
    justify-content: flex-start;
}
.button{
    composes: button from global;
    margin-right: 5px;
}
