html, body {
    background: #EEE;
}
.app {
    display: block;
    margin: 0px 100px;
    padding: 0px;
    
}

.error {
    composes: globalText from global;
    text-align: center;
    width: 400px;
    margin: 60px auto;
    
}
