.vimeo_player{
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.vimeo_player iframe,
.vimeo_player object,
.vimeo_player embed {
    position: absolute;
    width: 100%;
    height: 100%;
}

.name {
    composes: globalText from global;
    font-size: 1.5em;
}

.description {
    composes: globalText from global;
    font-size: 1em;
}

.loading{
    composes: globalText from global;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}